<div class="row w-100 justify-content-between">
    <div class="col-12 col-sm-3 box">
        <app-stat
            title="Infections"
            color="#1e90ff"
            incidentsToday="9999"
            incidentsTotal="9999999"
        >
        </app-stat>
    </div>
    <div class="col-12 col-sm-3 box">
        <app-stat
            title="Recoveries"
            color="#228b22"
            incidentsToday="9999"
            incidentsTotal="9999999"
        ></app-stat>
    </div>
    <div class="col-12 col-sm-3 box">
        <app-stat
            title="Deaths"
            color="#ee2c2c"
            incidentsToday="9999"
            incidentsTotal="9999999"
        ></app-stat>
    </div>
    <div class="col-12 col-sm-3 box">
        <app-stat
            title="Critical"
            color="#eeb422"
            incidentsToday="9999"
            incidentsTotal="9999999"
        ></app-stat>
    </div>
</div>
